* {
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console';
}

#screen_ctn {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
